# SERVERNAME: ddnet-gctf

sv_reset_file cfg/reset.cfg
sv_test_cmds 1
sv_register 1
sv_name "ChillerDragon's gCTF/iCTF GER1 [0.6/0.7 bridge]"
sv_gametype gctf
sv_welcome ""
sv_motd ""

sv_map "ctf5_spikes"
sv_port "8707"

sv_scorelimit "1000"
sv_sprayprotection "1"
sv_spamprotection "1"
sv_player_ready_mode "1"
sv_grenade_ammo_regen_num "5"
sv_grenade_ammo_regen_time "1000"
sv_chat_penalty "10"
sv_chat_threshold "1500"
sv_spamprotection "0"
sv_tournament_mode "1"
sv_countdown_unpause "10"
sv_countdown_round_start "0"
sv_show_settings_motd "0"

sv_region_name "ger"
sv_sql_servername "ger"
sv_hide_score "1"
sv_fastcap "0" # off until it doesnt break timer

# stdout_output_level, 0, -3, 2, "Adjusts the amount of information in the system console (-3 = none, -2 = error only, -1 = warn, 0 = info, 1 = debug, 2 = trace)")
# console_output_level, 0, -3, 2, "Adjusts the amount of information in the local/remote console (-3 = none, -2 = error only, -1 = warn, 0 = info, 1 = debug, 2 = trace)")
# stdout_output_level 1
# console_output_level 1

# moderator permissions
access_level echo 1
access_level broadcast 1
access_level say 1
access_level mutes 1
access_level mute 1
access_level muteid 1
access_level muteip 1
access_level unmute 1
access_level unmuteip 1
access_level vote_mutes 1
access_level vote_mute 1
access_level vote_unmute 1
access_level logout 1
access_level vote 1
access_level force_vote 1
access_level unban 1
access_level kick 1
access_level ban 1
access_level bans 1
access_level name_ban 1
access_level name_unban 1
access_level name_bans 1
access_level status 1
access_level set_team 1
access_level set_team_all 1
access_level restart 1
access_level reload 1
access_level shutdown 1
access_level shuffle_teams 1
access_level access_status 1
access_level sv_player_ready_mode 1
access_level sv_grenade_ammo_regen 1
access_level sv_grenade_ammo_regen_on_kill 1
access_level sv_grenade_ammo_regen_reset_on_fire 1
access_level sv_spamprotection 1
access_level sv_sprayprotection 1
access_level sv_countdown_unpause 1
access_level sv_countdown_round_start 1
access_level sv_spectator_slots 1
access_level sv_scorelimit 1

exec cfg/votes.cfg
exec cfg/passwords.cfg

