# votes.cfg

clear_votes
sv_join_vote_delay "0"

add_vote "[===] maps [===]" "sv_map"

add_vote "ctf1" "sv_map ctf1"
add_vote "ctf2" "sv_map ctf2"
add_vote "ctf3" "sv_map ctf3"
add_vote "ctf4" "sv_map ctf4"
add_vote "ctf5 (0.7 gameplay with spikes)" "sv_map ctf5_spikes"
add_vote "ctf5 (0.6 gameplay without spikes)" "sv_map ctf5_no_spikes"
add_vote "ctf6" "sv_map ctf6"
add_vote "ctf7" "sv_map ctf7"
add_vote "ctf8" "sv_map ctf8"

add_vote "dm1" "sv_map dm1"
add_vote "dm2" "sv_map dm2"
add_vote "dm6" "sv_map dm6"
add_vote "dm7" "sv_map dm7"
add_vote "dm8" "sv_map dm8"
add_vote "dm9" "sv_map dm9"

add_vote "ctf4_old" "sv_map ctf4_old"
add_vote "ctf_ambiance" "sv_map ctf_ambiance"
add_vote "ctf_canyon" "sv_map ctf_canyon"
add_vote "ctf_duskwood" "sv_map ctf_duskwood"
add_vote "ctf_lava" "sv_map ctf_lava"
add_vote "ctf_red_afternoon" "sv_map ctf_red_afternoon"
add_vote "ctf_take" "sv_map ctf_take"
add_vote "ctf_tantum" "sv_map ctf_tantum"
add_vote "ctf_katm" "sv_map ctf_katm"
add_vote "desertcamp" "sv_map desertcamp"

add_vote "[===] scorelimit [===]" "sv_map"

add_vote "5" "sv_scorelimit 5"
add_vote "10" "sv_scorelimit 10"
add_vote "20" "sv_scorelimit 20"

add_vote "100" "sv_scorelimit 100"
add_vote "200" "sv_scorelimit 200"
add_vote "300" "sv_scorelimit 300"
add_vote "400" "sv_scorelimit 400"
add_vote "500" "sv_scorelimit 500"
add_vote "600" "sv_scorelimit 600"
add_vote "700" "sv_scorelimit 700"
add_vote "800" "sv_scorelimit 800"
add_vote "900" "sv_scorelimit 900"
add_vote "1000" "sv_scorelimit 1000"

add_vote "[===] slots [===]" "sv_map"

add_vote "1vs1" "sv_spectator_slots 62"
add_vote "2vs2" "sv_spectator_slots 60"
add_vote "3vs3" "sv_spectator_slots 58"
add_vote "4vs4" "sv_spectator_slots 56"
add_vote "5vs5" "sv_spectator_slots 54"
add_vote "6vs6" "sv_spectator_slots 52"
add_vote "7vs7" "sv_spectator_slots 50"
add_vote "8vs8" "sv_spectator_slots 48"

add_vote "no slot limit" "sv_spectator_slots 0"

add_vote "[===] pause/restart [===]" "sv_map"

add_vote "[ ] enable ready mode" "sv_player_ready_mode 1;say 0.7 players can now pause the game with f1 ready_change. And 0.6 players with the /ready chat command."
add_vote "[ ] disable ready mode" "sv_player_ready_mode 0;say the ready_change command no longer allows pausing the game"
add_vote "pause" "pause_game"
add_vote "reload" "reload"
add_vote "restart" "restart"
add_vote "restart 10" "restart 10"
add_vote "restart 20" "restart 20"

add_vote "[===] shuffle [===]" "sv_map"

add_vote "shuffle teams" "shuffle_teams"

add_vote "[===] grenade ammo [===]" "sv_map"

add_vote "[ ] spam protection on" "sv_grenade_ammo_regen 1"
add_vote "[ ] spam protection off" "sv_grenade_ammo_regen 0"
add_vote "[ ] refill nades on kill: none" "sv_grenade_ammo_regen_on_kill 0"
add_vote "[ ] refill nades on kill: one" "sv_grenade_ammo_regen_on_kill 1"
add_vote "[ ] refill nades on kill: all" "sv_grenade_ammo_regen_on_kill 2"
add_vote "[ ] reset regen timer on fire: off" "sv_grenade_ammo_regen_reset_on_fire 0"
add_vote "[ ] reset regen timer on fire: on" "sv_grenade_ammo_regen_reset_on_fire 1"

add_vote "[===] grenade spray [===]" "sv_map"
add_vote "[ ] spray protection on" "sv_sprayprotection 1"
add_vote "[ ] spray protection off" "sv_sprayprotection 0"

add_vote "[===] train/fun [===]" "sv_map"
add_vote "[ ] hook kill only on" "sv_only_hook_kills 1"
add_vote "[ ] hook kill only off" "sv_only_hook_kills 0"

add_vote "[ ] kill hook on" "sv_kill_hook 1"
add_vote "[ ] kill hook off" "sv_kill_hook 0"

add_vote "[===] chat [===]" "sv_map"

# add_vote "[ ] ratelimit long msgs on" "sv_chat_ratelimit_long_messages 1"
# add_vote "[ ] ratelimit long msgs off" "sv_chat_ratelimit_long_messages 0"

# add_vote "[ ] ratelimit spec chat on" "sv_chat_ratelimit_spectators 1"
# add_vote "[ ] ratelimit spec chat off" "sv_chat_ratelimit_spectators 0"

# add_vote "[ ] ratelimit public chat on" "sv_chat_ratelimit_public_chat 1"
# add_vote "[ ] ratelimit public chat off" "sv_chat_ratelimit_public_chat 0"

add_vote "[ ] ratelimit chat (except calls) on" "sv_chat_ratelimit_non_calls 1"
add_vote "[ ] ratelimit chat (except calls) off" "sv_chat_ratelimit_non_calls 0"

# add_vote "[ ] ad ratelimit chat on" "sv_chat_ratelimit_spam 1"
# add_vote "[ ] ad ratelimit chat off" "sv_chat_ratelimit_spam 0"

add_vote "[ ] unstack ddnet chat on" "sv_unstack_chat 1"
add_vote "[ ] unstack ddnet chat off" "sv_unstack_chat 0"

add_vote "[===] gametype [===]" "sv_map"

add_vote "gctf" "sv_gametype gctf"
add_vote "ictf" "sv_gametype ictf"

